*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    --primary-brand-color: #4D5AE5;
    --pressed-state-color: #404BBF;
    --dark-color: #2E2F42;
    --success-color: #31D0AA;
    --text-color:#434455;
    --subtle-text-color:#8E8F99;
    --accent-color:#E7E9FC;
    --light-color: #F4F4FD;
    --white-color: white;

}

body {
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    background-color: var(--white-color);
}

p {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
h2 {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--dark-color);
}
h3 {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    margin: 0;
    padding: 0;
}
img, button {
    display: block;
}

.header {
    width: 1440px;
    height: 72px;
    border-bottom: 1px solid var(--accent-color);
}
.header .container {
    display: flex;
    width: 1158px;
    height: 72px;
    padding: 0 15px;
    margin: 0 auto;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
}
.logo {
    margin-right: 76px;;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary-brand-color);
}
.studio-logo {
    color: var(--dark-color);
}
.nav {
    display: flex;
    align-items: center;
}
.navigate-list {
    display: flex;
    gap: 40px;
}
.navigate-list-items {
    padding: 24px 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--dark-color);
}
.navigate-list-items:focus {
    color: var(--primary-brand-color);
}
.navigate-list-items:hover {
    color: var(--primary-brand-color);
}
address {
    margin-left: 332px;
    padding: 0;
    font-style: normal;
}
.contact-list {
    display: flex;
    gap: 40px;
}
.contact-list-item {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--text-color);
}
.contact-list-item:focus {
    color: var(--primary-brand-color);
}
.contact-list-item:hover {
    color: var(--primary-brand-color);
}

.first-section {
    width: 1440px;
    height: 600px;
    padding: 188px 0;
    background-color: var(--dark-color);
}
.first-section .container {
    align-items: center;
    text-align: center;
}

.first-section-h-one {
    color: var(--white-color);
    text-transform: capitalize;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white-color);
    max-width: 496px;
    margin-left: 472px;
    margin-bottom: 44px;
    padding: 0;
}
.first-section-btn {
    min-width: 169px;
    height: 56px;
    margin-left: 636px;
    background: var(--primary-brand-color);
    border: var(--primary-brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.26);
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.first-section-btn:focus {
    background-color: var(--pressed-state-color);
    border: var(--pressed-state-color);
}
.first-section-btn:hover {
    background-color: var(--pressed-state-color);
    border: var(--pressed-state-color);
}

.second-section {
    margin-left: 156px;
    width: 1128px;
    height: 344px;
    padding: 120px 0;
    background-color: var(--white-color);  
}
.second-section-list {
    list-style-type: none;
    display: flex;
    gap: 24px;
}
.second-section-list-items {
    width: calc((100%-72px)/4);
}
.second-section-h-three {
    margin-bottom: 8px;
}

.third-section {
    width: 1440px;
    padding: 120px 0;
    background-color: var(--light-color);
}
.third-section .container {
    padding: 0 156px;
}
.third-section-h-two {
    margin-bottom: 72px;
}
.third-section-list {
    margin-left: 0 auto;
    display: flex;
    gap:24px;
}
.third-section-list-items {
    width: calc((100%-72px)/4);
    height: 380px;
    background-color: var(--white-color);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 1px 0px #2E2F4214;
    box-shadow: 0px 1px 1px 0px #2E2F4229;
    box-shadow: 0px 1px 6px 0px #2E2F4214;
}
.third-section-list-items-container {
    padding: 32px 0;
}
.third-section-h-three {
    text-align: center;
    margin-bottom: 8px;
}
.third-section-p {
    text-align: center;
}
.fourth-section {
    padding: 120px 0;
    width: 1440px;
    background-color: var(--white-color);
}
.fourth-section .container{
    padding: 0 156px;
}
.fourth-section-h-two {
    text-align: center;
    margin-bottom: 72px;
}
.fourth-section-list {
    display: flex;
    row-gap: 48px;
    column-gap: 24px;
    flex-wrap: wrap;
    flex-direction: row;
}
.fourth-section-list-items {
    width: 360px;
    height: 420px;
    border: 1px solid var(--accent-color);
    text-align: left;
}
.fourth-section-list-items-container {
    padding: 32px 16px;
    border: 1px solid var(--accent-color);
    border-top: none;
    text-align: left;
}
.fourth-section-h-three {
    margin-bottom: 8px;
}

.footer {
    padding: 100px 0;
    width: 1440px;
    background-color: var(--dark-color);
}
.footer .container {
    padding: 0 156px;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary-brand-color);
    display: inline-block;
    margin-bottom: 16px;
}
.footer-studio-logo {
    color: var(--light-color);
}
.footer-p {
    max-width: 264px;
    color: var(--light-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
    display: none;
}
